/* overview-container */

.overview-container{
    border-left:var(--color-primary-default) solid var(--spacing-2xs);
    background-color: var(--color-background-200);
    padding: var(--spacing-l);
    margin-bottom: var(--spacing-m);

    p{
        margin-bottom: 0;
    }

    ul{
        list-style: outside;
        padding-left: var(--spacing-l);
    }

    ul li{
        line-height: var(--line-height-normal)
    }
}

.overview-container h4{
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--spacing-xs);
}

/* overview-container */

/* img-caption */

.img-caption{
    background-color: var(--color-background-200);
    line-height: var(--line-height-normal);
    padding: var(--spacing-m);
    font-size: var(--font-size-s);
    margin-bottom: var(--spacing-m);
}

/* img-caption */

/* link-anker */

.link-anker{
    margin-bottom: var(--spacing-m);

    ul li{
        padding: var(--spacing-xs);
        border-left: var(--color-background-300) solid var(--spacing-3xs);
    }

    ul li:hover{
        border-left: var(--color-primary-default) solid var(--spacing-3xs);

        a{
            color: var(--color-text-default);
            cursor: pointer;
        }
    }

    a{
        font-size: var(--spacing-m);
        text-decoration: none;
        color: var(--color-background-300);
    }
}

/* anker-link */

/* custom-list */

.custom-list{
    margin-bottom: var(--spacing-m);
    dd:last-child{
        border: none;
        margin-bottom: var(--spacing-xl);
    }

    dt{
    padding-top: var(--spacing-s);
    }

    dd{
        padding-bottom: var(--spacing-s);
        border-bottom: var(--spacing-4xs) solid var( --color-background-300);
    }

    dt, dd{
        line-height: var(--line-height-normal);
    }
}

/* custom-list */

/* footer-navigation */

.footer-navigation{

    h4{
        font-weight: var(--font-weight-regular);
        margin-bottom: var(--spacing-m);
    }

    ul li{
        margin-bottom: var(--spacing-s);

        a{
            text-decoration: none;
            color: var(--color-background-default);
            font-weight: var(--font-weight-light);
        }
    }
}

/* footer-navigation */

/* footer-contact */

.footer-contact{
    h4{
        font-weight: var(--font-weight-regular);
        margin-bottom: var(--spacing-m); 
    }

    a{
        color: var(--color-background-default);
    }
}

/* footer-contact */

/* header-button */

.header-button{
    border: none;
    padding: var(--spacing-3xs);
    background-color: var(--color-background-default);
    cursor: pointer;
    margin-left: var(--spacing-m);
}

.header-button:hover{
    background-color: var(--color-background-200);
    transition: background-color 0.2s ease;
    border-radius: 1rem;
}

/* header-button */

/* header-overlay */

.header-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-default);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.is-active{
        display: flex;
    }
}

.header-close-container{
    position: fixed;
    top: 0;
    right: 0;
    margin: var(--spacing-l);
}

.header-overlay-contnet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    > li{
        text-align: center;
        width: 100%;
        border-bottom: var(--spacing-3xs) solid var(--color-primary-default);
        display: flex;
        flex-direction: column;

        > a, ul > li{
            padding-top: var(--spacing-m);
            padding-bottom: var(--spacing-m);
        }

        a{
            color: var(--color-text-default);
            text-decoration: none;
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-light);
        }

        > a{
            font-weight: var(--font-weight-regular);
        }
    }

    > li:last-child{
        border: none;
    }
}

.header-search-form{
    display: flex;

    input{
        font-size: var(--font-size-l);
        border: none;
        border-bottom: var(--spacing-4xs) solid var(--color-text-default);
    }

    input:focus{
         outline: none;
    }
}

body:has(.header-overlay.is-active) {
  overflow: hidden;
}

/* header-overlay */

/* form-button */

.form-button{
    margin-left: var(--spacing-xs);
    color: var(--color-background-default);
    background-color: var(--color-primary-default);
    font-size: var(--font-size-l);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xs);
    cursor: pointer;

    .icon{
        color: var(--color-background-default);
        margin-right: var(--spacing-4xs);
        font-size: var(--font-size-xl)
    }
}

/* form-button */
