.icon {
  display: inline-block;
  width: auto;
  height: auto;
  color: #FEB701;
  direction: ltr;
  font-family: material-icons, sans-serif;
  font-feature-settings: 'liga';
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizelegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}