.icon {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: var(--size-xxs);
  color: var(--color-primary-default);
  direction: ltr;
  font-family: material-icons, sans-serif;
  font-feature-settings: 'liga';
  font-size: var(--font-size-2xl);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizelegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}