  /* TODO: noch keine schöne lösung muss noch gemacht werden */

@media screen and (min-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 28.5% 1fr;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--spacing-l);
    }

    .figure-with-caption{
        max-width: 23rem;
    }

    .figure-with-overview{
        display: flex;
        max-height: 12rem;
        overflow: hidden;
        
        img{
            max-width: 12rem;
        }

        figcaption{
            margin-bottom: 0;
            width: 100%;
            overflow-y: scroll;
        }

        figcaption::-webkit-scrollbar {
            display: none;
        }
    }

    .custom-list{
        display: grid;
        grid-template-columns: 20% 1fr;

        dt, dd{
            padding: 0;
            padding-top: var(--spacing-s);
            padding-bottom: var(--spacing-s);
            border-bottom: var(--spacing-4xs) solid var( --color-background-300);
        }

        :nth-last-child(2){
            border: none;
        }
    }

    footer{
        div{
            min-width: 9rem;
        }

        div:first-child{
            margin: 0;
        }

        div:last-child{
            max-width: 18rem;
            text-wrap: nowrap;
        }
    }

    .header-anker-links{
        display: block;
    }

    .header-actions-container{
        display: flex;
        align-items: center;

        ul{
            display: flex;
            width: 30rem;
            justify-content: space-around;
            align-items: center;
            
            li{
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-arrow-size{
                    padding-top: var(--spacing-2xs);
                    font-size: var(--spacing-l);
                }

                .icon-arrow-size:hover{
                    cursor: pointer;
                }

                a{
                    text-decoration: none;
                    color: var(--color-text-default);
                }
            }

            li ul{
                display: none;
            }
        }
    }
}